<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Letter_Creator_1._0.Properties.Settings.LetterCreatorDBConnectionString"
            connectionString="Data Source=|DataDirectory|\LetterCreatorDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Letter_Creator_1._0.Properties.Settings.LetterCreatorDBConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\LetterCreatorDB.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>